Tests/ServiceWrapper.Nuget.TestConsole/Service References/SampleServiceAsSvcRef1/SampleService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="aelena.com/services/sampleservice" elementFormDefault="qualified" targetNamespace="aelena.com/services/sampleservice" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:62598/SampleService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AElena.ServiceWrapper.SampleService" />
  <xs:element name="UpdateStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="myID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="myStatus" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateStatusResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AElena.ServiceWrapper.SampleService" minOccurs="0" name="GetClientResult" nillable="true" type="q1:Client" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>